@model LoginViewModel

<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="~/images/undraw_to_the_moon_v1mv.svg" alt="">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Login To DeskApp</h2>
                    </div>

                    @if (Model.VisibleExternalProviders.Any())
                    {
                        <div class="select-role">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn active">
                                    <input type="radio" name="options" id="admin">
                                    <div class="icon">
                                        <img src="~/images/briefcase.svg" class="svg" alt="">
                                    </div>
                                    <span>I'm</span>
                                    Manager
                                </label>
                                <label class="btn">
                                    <input type="radio" name="options" id="user">
                                    <div class="icon">
                                        <img src="~/images/person.svg" class="svg" alt="">
                                    </div>
                                    <span>I'm</span>
                                    Employee
                                </label>
                            </div>
                        </div>
                    }

                    @if (Model.EnableLocalLogin)
                    {
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl"/>
                            <div class="input-group custom">
                                <input type="text" class="form-control form-control-lg" placeholder="Username" asp-for="Username" autofocus>
                                <div class="input-group-append custom">
                                    <span class="input-group-text">
                                        <i class="icon-copy dw dw-user1"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="input-group custom">
                                <input type="password" class="form-control form-control-lg" placeholder="**********" asp-for="Password" autocomplete="off">
                                <div class="input-group-append custom">
                                    <span class="input-group-text">
                                        <i class="dw dw-padlock1"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row pb-30">
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="col-6">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" asp-for="RememberLogin">
                                            <label class="custom-control-label" asp-for="RememberLogin">Remember</label>
                                        </div>
                                    </div>
                                }
                                <div class="col-6">
                                    <div class="forgot-password">
                                        <a href="http://localhost:4200/forgot-password">Forgot Password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group mb-0">
                                        <button class="btn btn-primary btn-lg btn-block" name="button" value="login">Login</button>
                                    </div>
                                    <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">OR</div>
                                    <div class="input-group mb-0">
                                        <a class="btn btn-outline-primary btn-lg btn-block" href="http://localhost:4200/register">Register To Create Account</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }

                    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
                    {
                        <div class="alert alert-warning">
                            <strong>Invalid login request</strong>
                            There are no login schemes configured for this request.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>