<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <title>IdentityServer4</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>

    <link rel="stylesheet" href="~/styles/core.min.css"/>
    <link rel="stylesheet" href="~/styles/icon-font.min.css"/>
    <link rel="stylesheet" href="~/styles/style.min.css"/>
</head>
<body>
<partial name="_Nav"/>
@RenderBody()

<script src="~/scripts/core.min.js"></script>
<script src="~/scripts/script.min.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>